#info {
    background: #333;
    color:#fff;
    text-align: center;
    padding: 20px;
}
#info .contenedor{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-team{
    margin: 20px;
}
.info-team img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

#info h3{
    font-size: 35px;
}
@media(min-width:480px)
{
    .info-team
    {
        width: 40%;
    }
   
}
@media(min-width:1024px)
{
    .info-team
    {
        width: auto;
    }
   
}
